/* RightContainer.css */
.right-container {
    height: 91vh;
    width: 80vw;
}

.weather-data {
    height: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
    border: 1px solid #2f00ff;
}

.weather-data-top{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.weather-data-bottom{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.real-time-weather-data {
    flex: 1;
    border: 1px solid #2f00ff;
    height: 40%;
}
