.right-container{
    border: 1px solid #fff;
    width: 80vw;
}

.weather-data{
    border: 1px solid #ff0000;
    width: 100%;
    height: 55%;
}

.real-time-weather-data{
    border: 1px solid #0026ff;
    width: 100%;
    height: 45%;
}