/* RightContainer.css */
.right-container {
    height: 100%;
    border: 1px solid #ffffff;
    width: 80vw;
}

.weather-data {
    border: 1px solid #ff0000;
    height: 55%;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.weather-data-top{
    display: flex;
    flex:1;
    width: 100%;
}

.weather-data-bottom{
    display: flex;
    width: 100%
}

.real-time-weather-data {
    flex: 1;
    border: 1px solid #2f00ff;
    height: 45%;
}
