.topContainer{
    position: sticky;
    top: 0;
    background-color: rgb(0, 0, 0);
    height: 10vh;
    width: 100%;
}

.logo{
    position: relative;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
    height: 70%;
    width: auto;
}

.cityInput{
    box-sizing: border-box;
    position: absolute;
    left: 60%;
    top: 1vh;
    transform: translate(-50%, 0);
    height: 8vh;
    width: 30vw;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 100px;

    font-size: 1.5em;
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 8vh;
    outline: none;

}