html,body{
    background-color: rgb(27, 27, 27);    
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

.weather-app{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
}