html,body{
    background-color: rgb(18, 18, 18);    
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #ffffff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.weather-app{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
