.button-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


.button-container-btn{
    width: 35%;
    padding: 10px;
    margin: 5px 5% 0 5%;
    border: none;
    border-radius: 5px;
    font-size: 1.3rem;
    background-color: rgba(247, 189, 103, 0.842);
}
.button-container-btn:hover{
    cursor: pointer;
    background-color: rgba(255, 115, 0, 0.659);
    transform: translate(0, -3px);
}
.button-container-btn:active{
    outline: 3px solid rgba(255, 115, 0, 0.459);
    transform: scale(0.9);
}