.list-container{
    border: 2px solid #000;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    padding-bottom: 30px;
    border-radius: 10px;
    background-color: #f2f2f2;

}