.background{
  background-color: #4c87fc;
  width: 50vw;
  height: 20vh;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  border: 1px solid black;
}

.container{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
  outline: #c7fc4c solid 3px;
  border-radius: 30px;
}

.count-value{
  width: 40%;
  height: 100%;
  text-align: center;
  font-size: 3rem;
  color: rgb(0, 0, 0);
  background-color: rgb(0, 255, 115);
}
.count-value:hover{
  background-color: aquamarine;
}

.btn{
  border: none;
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: rgb(0, 0, 0);
  line-height: 1;
}
.btn:hover{
  cursor: pointer;
  outline: 3px solid #2414ff;
}

.minus-button{
  border-radius: 30px 0 0 30px;
}
.minus-button:hover{
  transform: translate(-2px,0);
}

.plus-button{
  border-radius: 0 30px 30px 0;
}
.plus-button:hover{
  transform: translate(2px,0);
}