.square{
    width: 10vw;
    height: 10vw;
    font-size: 9vw;
    font-weight: bold;
    border: 5px solid #000;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ground{
    border: 5px solid #000;
    width: 30vw;
    margin: auto;
    margin-top: 10vh;
}
.column-div{
    display: flex;
}
.status{
    text-align: center;
    font-size: 4vw;
    font-weight: bold;
    margin-bottom: 2vh;
}